In [50]:
import numpy as np
import pandas as pd
import pickle as pk

In [51]:
from sklearn.decomposition import PCA
data=pd.read_csv("AMZN_7.csv",sep=',')
f=data["Date"]
data.drop(['Date'], axis=1,inplace=True)
data

,Open,High,Low,Close,Target,politica,exterior,ecologia,economia,social
0,3643.560059,3759.989990,3621.120117,3731.409912,3719.340088,-0.234203,-0.199429,-0.230726,-0.222382,-0.245670
1,3722.520020,3748.000000,3693.399902,3719.340088,3718.550049,0.278017,0.265801,0.284539,0.265109,0.287057
2,3744.000000,3757.290039,3696.790039,3718.550049,3677.360107,0.241463,0.219018,0.245221,0.218621,0.244458
3,3702.100098,3773.080078,3671.320068,3677.360107,3681.679932,-0.330344,-0.309196,-0.297206,-0.325155,-0.313110

In [52]:
data.mean()

Open        3703.045044
High        3759.590027
Low         3670.657532
Close       3711.665039
Target      3699.232544
politica      -0.011267
exterior      -0.005951
ecologia       0.000457
economia      -0.015952
social        -0.006816
dtype: float64

In [53]:
a=(data-data.mean().values)
t=a["Target"]
a.drop(['Target'], axis=1,inplace=True)
a

,Open,High,Low,Close,politica,exterior,ecologia,economia,social
0,-59.484985,0.399963,-49.537415,19.744873,-0.222936,-0.193477,-0.231183,-0.206430,-0.238854
1,19.474976,-11.590027,22.742371,7.675049,0.289284,0.271753,0.284082,0.281061,0.293873
2,40.954956,-2.299988,26.132507,6.885010,0.252730,0.224969,0.244764,0.234573,0.251274
3,-0.944946,13.490051,0.662536,-34.304932,-0.319077,-0.303245,-0.297663,-0.309203,-0.306294

In [54]:
pca=PCA(0.90) # Otra opción es instanciar pca sólo con dimensiones nuevas hasta obtener un mínimo "explicado" ej.: pca=PCA(.85)
pca.fit(a) # obtener los componentes principales
pk.dump(pca, open("pca.pkl","wb"))

In [55]:
pca_resultado = pca.transform(a)

In [56]:
nuevaData = pd.DataFrame(pca_resultado)
nuevaData["Target"]=t
nuevaData["Fecha"]=f
nuevaData.set_index('Fecha',inplace=True)
nuevaData.to_csv("nueva_data.csv",sep=',')

In [57]:
nuevaData

                    0          1     Target
Fecha
2021-07-08  79.156676 -10.736944  20.107544
2021-07-09 -28.804157 -14.112737  19.317505
2021-07-12 -47.153814 -11.895822 -21.872437
2021-07-13  -3.198705  36.745503 -17.552612

In [70]:
inputs=pd.read_csv("input.csv")
inputs

,Open,High,Low,Close,target,politica,exterior,ecologia,economia,social
0,3708.85,3717.66,3660.83,3681.68,0,0.174577,0.170407,0.173346,0.168217,0.179141

In [71]:
a=(inputs-data.mean().values)
t=a["target"]
a.drop(['target'], axis=1,inplace=True)
a

,Open,High,Low,Close,politica,exterior,ecologia,economia,social
0,5.804956,-41.930027,-9.827532,-29.985039,0.185844,0.176359,0.172889,0.184169,0.185957

In [75]:
pca_resultado = pca.transform(a)

In [76]:
nuevaData = pd.DataFrame(pca_resultado)
nuevaData.to_csv("inputs_pca.csv",sep=',')